<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>

</head>

<body>
{% block content %}
    <section id="subintro">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3><strong>Dashboard - Home</strong></h3>
                </div>
            </div>
        </div>

    </section>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li style="text-align: center;" class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span2">
                    <aside>
                        <div class="widget">
                            <h4>Navigation Menu</h4>
                            <ul>
                                <li>
                                    <label><strong><a href="#">Edit Profile</a></strong></label>
                                </li>
                                <li>
                                    <label><strong><a href="{% url 'ticket' %}">All Ticket</a></strong></label>
                                </li>
                                <li>
                                    <label><strong><a href="{% url 'feature' %}">All Feature
                                    </a></strong></label>
                                </li>
                                <li>
                                    <label><strong><a href="{% url 'bug' %}">All Bug</a></strong></label>
                                </li>
                                <li>
                                    <label><strong><a href="{% url 'logout' %}">Log Out</a></strong></label>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>


                <div class="span10">
                    <aside>
                        <div id="errormessage"></div>
                        <div class="row">
                            <div class="span9 form-group">
                                <table class="table table-striped table-bordered" width="100%" border="0"
                                       cellspacing="5" cellpadding="5">

                                    <tr>
                                        <th scope="row">
                                            <div align="left">First name</div>
                                        </th>
                                        <td>James</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div align="left">Surname</div>
                                        </th>
                                        <td>David</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div align="left">Email</div>
                                        </th>
                                        <td>eamail@david.com</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div align="left">Country</div>
                                        </th>
                                        <td>UK</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <div align="left"></div>
                                        </th>
                                        <td>&nbsp;</td>
                                    </tr>
                                </table>


                            </div>

                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </section>





{% endblock content %}
</body>

</html>
