<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>

</head>

<body>
  {% block content %}
  <section id="subintro">

    <div class="container">
      <div class="row">
        <div class="span12">
          <h3><strong>Login To Your Account</strong></h3>
        </div>
      </div>
    </div>

  </section>  
  <section id="maincontent">
    <div class="container">
      <div class="row">
        <div class="span4">
          <aside>
            <div class="widget">
              <h4>Info</h4>
              <ul>
                <li><label><strong>Username : </strong></label>
                  <p>
                    Enter your username. This should be the same username you provided during registration
                  </p>
                </li>
                <li><label><strong>Password : </strong></label>
                  <p>
                    Enter your password. This should be exactly the same password you provided during registration
                  </p>
                </li>	
              </ul>
            </div>
          </aside>
        </div>
		
	
			
        <div class="span8">
          <div id="sendmessage">Fill the form below to register!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
              {% csrf_token %}
            <div class="row">
              <div class="span8 form-group">
                <input type="text" name="username" class="form-control" id="username" placeholder="Username" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="span8 form-group">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password" data-rule="minlen:4" data-msg="Please enter a valid password" />
                <div class="validation"></div>
              </div>	
		  

              <div class="span8 form-group">
                <div class="validation"></div>
                <div class="text-center">
                  <button class="btn btn-color btn-rounded" type="submit">Login</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}

</body>

</html>
