<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>

</head>

<body>
{% block content %}
    <section id="subintro">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3><strong>Create An Account</strong></h3>
                </div>
            </div>
        </div>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li style="text-align: center;" class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">
                <div class="span4">
                    <aside>
                        <div class="widget">
                            <h4>Info</h4>
                            <ul>
                                <li><label><strong>Username : </strong></label>
                                    <p>
                                        Enter your username. This and your password is what you will need to login
                                    </p>
                                </li>
                                <li><label><strong>Password : </strong></label>
                                    <p>
                                        Enter your password. This and your username is what you will need to login
                                    </p>
                                </li>
                                <li><label><strong>First Name : </strong></label>
                                    <p>
                                        Enter your first name
                                    </p>
                                </li>
                                <li><label><strong>Last name : </strong></label>
                                    <p>
                                        Enter your surname
                                    </p>
                                </li>
                                <li><label><strong>Email address : </strong></label>
                                    <p>
                                        Enter your email address
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>


                <div class="span8">
                    <div id="sendmessage">Fill the form below to register!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        {% for error in form.non_field_errors %}
                            {{ error }}
                        {% endfor %}
                        {% csrf_token %}
                        <div class="row">
                            <div class="span8 form-group">
                                {% for error in form.username.errors %}
                                    <tr>
                                        <td>{{ error }}</td>
                                    </tr>
                                {% endfor %}
                                {{ form.username }}
                                <div class="validation"></div>
                            </div>

                            <div class="span8 form-group">
                                {% for error in form.first_name.errors %}
                                    <tr>
                                        <td>{{ error }}</td>
                                    </tr>
                                {% endfor %}
                                {{ form.first_name }}
                                <div class="validation"></div>
                            </div>
                            <div class="span8 form-group">
                                {% for error in form.last_name.errors %}
                                    <tr>
                                        <td>{{ error }}</td>
                                    </tr>
                                {% endfor %}
                                {{ form.last_name }}
                                <div class="validation"></div>
                            </div>
                            <div class="span8 form-group">
                                {% for error in form.email.errors %}
                                    <tr>
                                        <td>{{ error }}</td>
                                    </tr>
                                {% endfor %}
                                {{ form.email }}
                                <div class="validation"></div>
                            </div>
                            <div class="span8 form-group">
                                {% for error in form.password1.errors %}
                                    <tr>
                                        <td>{{ error }}</td>
                                    </tr>
                                {% endfor %}
                                {{ form.password1 }}
                                <div class="validation"></div>
                            </div>
                            <div class="span8 form-group">
                                {% for error in form.password2.errors %}
                                    <tr>
                                        <td>{{ error }}</td>
                                    </tr>
                                {% endfor %}
                                {{ form.password2 }}
                                <div class="validation"></div>
                            </div>


                            <div class="span8 form-group">
                                <div class="validation"></div>
                                <div class="text-center">
                                    <button class="btn btn-color btn-rounded" type="submit">Register</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>




{% endblock content %}
</body>

</html>
