<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
<html lang="en">

<head>

</head>

<body>
{% block content %}
    <section id="subintro">

        <div class="container">
            <div class="row">
                <div class="span12">
                    <h3><strong>Create a Ticket</strong></h3>
                </div>
            </div>
        </div>


    </section>
    <section id="maincontent">
        <div class="container">
            <div class="row">

                <div class="span4">
                    <aside>
                        <div class="widget">
                            <h4>Info</h4>
                            <ul>
                                <li><label><strong>Ticketname : </strong></label>
                                    <p>
                                        Enter Ticket Name.
                                    </p>
                                </li>
                                <li><label><strong> Coments : </strong></label>
                                    <p>
                                        Enter your Comments.
                                    </p>
                                </li>
                                <li><label><strong> Ticket Status : </strong></label>
                                    <p>
                                        Enter Ticket Status.
                                    </p>
                                </li>

                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="span8">
                    <div id="sendmessage">Fill the form below to create ticket!</div>
                    <div id="errormessage"></div>
                    <form method="post" role="form" class="ticketcreationForm">
                        {% csrf_token %}
                        {{ form.errors }}
                        <div class="row">
                            <div class="span8 form-group">
                                {{ form.ticket_name }}
                            </div>

                            <div class="span8 form-group">
                                {{ form.ticket_comment }}
                            </div>
                            <div class="span8 form-group">
                                {{ form.ticket_status }}
                            </div>

                            <div class="span8 form-group">
                                <div class="validation"></div>
                                <div class="text-center">
                                    <button class="btn btn-color btn-rounded" type="submit">Create Ticket</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </section>




{% endblock content %}
</body>

</html>
